.bg-img1 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(background1.jpg);
  background-size: cover;
}

.bg-img2 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(background2.jpg);
  background-size: cover;
}

.bg-img3 {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(background3.jpg);
  background-size: cover;
}

body::before {
  display: block;
  content: "";
  height: 20px;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

footer {
  margin: 100px 0 30px 40px;
  display: flex;
  gap: 50px;
}

footer li:last-child {
  transform: translate(710px, 0);
}
